<!DOCTYPE html>
<html>
    <head>
        <!-- <a href="static/madlibs.css"></a> -->
        <link rel="stylesheet" href="static/madlibs.css">
    </head>
    <body>
        <form action="/madlib" >
            <div class="game">Person: <input type="text" name="person"></div>
            <div class="game">Color: <input type="text" name="color"></div>
            <div class="game"> Noun: <input type="text" name="noun"></div>
            <div class="game">Adjective: <input type="text" name="adjective"></div>
            <div class="game">Person2: <input type="text" name="person2"></div>
            <div class="game">Color2: <input type="text" name="color2"></div>
            <input type="submit">
        </form>
    </body>
</html>